%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}
._icon-arrow-bottom:before {
  content: "\e900";
}
._icon-arrow-right:before {
  content: "\e901";
}
._icon-burger:before {
  content: "\e902";
}
._icon-cart:before {
  content: "\e903";
}
._icon-clock:before {
  content: "\e904";
}
._icon-cross:before {
  content: "\e905";
}
._icon-favorite:before {
  content: "\e906";
}
._icon-favorite_1:before {
  content: "\e907";
}
._icon-location:before {
  content: "\e908";
}
._icon-logo:before {
  content: "\e909";
}
._icon-mail:before {
  content: "\e90a";
}
._icon-phone:before {
  content: "\e90b";
}
._icon-ruble:before {
  content: "\e90c";
}
._icon-search:before {
  content: "\e90d";
}
._icon-star:before {
  content: "\e90e";
}
._icon-user:before {
  content: "\e90f";
}
