@font-face{
	font-family: Pragmaticashadowc italic;
	font-display: swap;
	src: url("../fonts/Pragmaticashadowc italic.woff2") format("woff2"), url("../fonts/Pragmaticashadowc italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: QwitcherGrypen;
	font-display: swap;
	src: url("../fonts/QwitcherGrypen-Bold.woff2") format("woff2"), url("../fonts/QwitcherGrypen-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: QwitcherGrypen;
	font-display: swap;
	src: url("../fonts/QwitcherGrypen-Regular.woff2") format("woff2"), url("../fonts/QwitcherGrypen-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
