@use 'sass:math';
.mobile-menu {
    &__wrapper {
        display: none;
        z-index: 10;
        position: sticky;
        @media (max-width: $tablet) {
            display: flex;
            bottom: 0;
        }
    }
}
button {
    background-color: rgba(28,28,28,0)
}
.top-header {
    z-index: 99;
    background-color: $mainGreen;
    position: relative;
    color: white;
    padding: rem(5) 0;
    &__container {
        display: flex;
        align-items: center;
        gap: rem(20);
        min-height: rem(5);
        @media (max-width: $mobileSmall){
        column-gap: rem(17);
        
    }
    }
    &__menu {
        flex: 1 1 auto;
    }
}
.menu-top-header {
	// ..menu-top-header__list
	&__list {
		display: flex;
		row-gap: rem(5);
		@include adaptiveValue("column-gap", 60, 20);
		@media (max-width: $tablet) {
			flex-direction: column;
			row-gap: rem(25);
		}
	}
	// ..menu-top-header__item
	&__item {
		&_catalog {
			@media (min-width: $tablet) {
				display: none;
			}
		}
	}
    
	// ..menu-top-header__link
	&__link {
        &:first-child{
            margin-left:rem(20);
        }
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
        @media (max-width: $tablet) {
			&:hover {
				text-decoration: none;
			}
		}
		&_catalog {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			justify-content: space-between;
			&::before {
				flex: 0 0 rem(14);
				height: rem(14);
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: rem(25);
				transform: translateY(rem(-2)) rotate(-90deg);
                transition: all 0.5s ease-out;
			}
		}
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1);
		}
	}
	@media (max-width: $tablet) {
		//display: none;
	}
    &__catalog-list {
    }
    &__catalog-link {
        margin-right: rem(20);
        display: flex;
        font-size: rem(20);
		line-height: math.div(20, 16);
        &:first-child{
            margin-top: rem(10);
            margin-left:rem(25);
        }
        &::before {
            flex: 0 0 rem(14);
            height: rem(14);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: rem(25);
            transform: translateY(rem(-2)) rotate(-90deg);
        }
    }
    &__sub-catalog-item {
        margin-left: rem(10);
    }
    &__sub-catalog-link {
        margin-right: rem(35);
        display: flex;
        font-size: rem(20);
		line-height: math.div(20, 16);
        &:first-child{
            margin-top: rem(10);
            margin-left:rem(25);
        }
    }
}
.header {
    z-index: 3;
}
.arrow_d {
    &::before{
        transition: all 0.5s ease-out;
        transform: translateY(rem(-2)) rotate(0deg);
    }
}

.body-header {
    flex: 1 1 auto;
    padding: rem(0) rem(0);
    z-index: 99;
    background-color: rgb(235, 230, 230);
    position: relative;
    @media (max-width: $mobileSmall) {
        z-index: 2;
    }
    &__container {
        display: flex;
        align-items: center;
        min-height: rem(70);
        @media (max-width: $mobileSmall) {
            justify-content: center;
        }
    }
    &__logo {
        @extend %ic;
        @extend ._icon-logo;
        @include adaptiveValue("font-size", 100, 70);
        color: $mainDarkColor;
        @media (max-width: $mobileSmall) {
            margin: 0 auto;
            text-align: center;
            font-size: rem(100);
            
        }
    }
    &__search {
        padding-right: rem(20);
        flex: 1 1 auto;
        @include adaptiveValue("padding-left", 70, 20, 1620, 1250, 1);
        @media (max-width: $tablet) {
            padding-right: rem(0);
        }
    }
    &__menu {
        @media (max-width: $mobileSmall) {
        display: none;
        }
    }
}
.category {
    display: block;
    max-width: rem(250);
    max-height: rem(200);
    width: 100%;
    height: 100%;
    margin-right: rem(50);
    margin-bottom: rem(20);
}
.menu-catalog {
    @media (max-width: $mobileSmall) {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    &__list {
        display: flex;
		column-gap: rem(10);
		justify-content: space-between;
		@media (max-width: $tablet) {
			row-gap: rem(0);
        }
    }
    &__link {
        padding: rem(0) rem(30);
        min-height: rem(30);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        &::after {
            content: "";
			opacity: 0;
			visibility: hidden;
			position: absolute;
			bottom: 0;
			left: rem(10);
			height: rem(1);
			background-color: $mainOrange;
			width: calc(100% - rem(20));
			transition: all 0.45s ease 0s;
        }
        @media (any-hover: hover) {
			&:hover {
				color: $mainOrange;
				&::after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
    }
}
._sub-menu-open {
    opacity: 1;
    visibility: visible;
    display: flex;
}
._sub-menu-active{
    opacity: 1;
    visibility: visible;
}
.sub-menu-catalog {
    position: absolute;
    transition: all 1s ease-out;
    width: 100%;
    height: 100%;
    min-height: rem(700);
    height: rem(450);
    &__position-wrapper{
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgb(235, 230, 230);
    position: relative;
    }
    &__container {
        display: flex;
        gap: rem(20);
        min-height: rem(5);
        height: 100%;
        position: relative;
        width: 100%;
    }
    &__border {
    border-right-color: $mainGreen; 
    border-right-style: solid; 
    border-right-width: rem(1);
    }
    &__block {
        padding: rem(0) rem(10);
        display: flex;
        flex-direction: column;
        gap: rem(15);
        justify-content: space-between;
    }
    &__column {
        flex: 1 1 auto;
        display: grid;
        gap: rem(30);
    }
    &__categorys {
        display: flex;
        max-height: rem(500);
    }
    &__category {
        display: flex;
        font-size: rem(16);
        line-height: math.div(20, 16);
        font-weight: 700;
        padding: rem(5) 0;
    }
    ._icon-right-arrow {
        display: inline-flex;
        font-size: rem(20);
        text-align: center;
        vertical-align: middle;
        padding-left: rem(50);
    }
    &__category-text {
        width: rem(250);
    }
    &__main-title {
        font-size: rem(30);
        font-weight: rem(700);
    }
    &__category-wrapper {
        display: block;
        width: 100%;
        height: 100%;
        margin-right: rem(15);
    }
    &__category-border{
        display: flex;
        width: 100%;
        height: 100%;
        width: rem(250);
        padding-bottom: rem(20);
        padding: rem(5);
        transition: all 1.5s ease;
        &:hover {
			color: $mainGreen;
			transition: all 1.5s ease;
		}
    }
    &__wrapper {
        max-height: rem(1450);
        white-space: nowrap;
        display: inline-block;
        position: absolute;
        margin-left: rem(280);
        top: 0;
    }
    &__list {
        display: grid;
        float: left;
        width: 27%;
        column-gap: rem(20);
        vertical-align: middle;
        margin-bottom:0px;
        list-style-position:outside;
        padding: 0;
        list-style-type: none;
        height: 100%;
        padding-bottom: rem(30);
    }
    &__main-name {
        font-weight: 700;
    }
    &__main-products {
        max-width: rem(100);
        padding-top: rem(7);
        &:last-child{
            padding-bottom: rem(0);
        }
    }
    &__catalog-title {
        height: rem(36);
        color: #222;
        font-weight: 700;
        font-size: rem(28);
        line-height: 1.29;
        transition: color .25s;
        outline: none;
        margin-bottom: rem(25);
        display: flex;
        transition: all 1.5s ease;
        &:hover {
			color: $mainGreen;
			transition: all 1.5s ease;
		}
    }
    &__link {
        transition: all 1.5s ease;
        display:table;
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        width: rem(300);
        &:hover {
			color: $mainGreen;
			transition: all 1.5s ease;
		}
    }
    &__more-link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        color: grey;
        transition: all 1.5s ease;
        &:hover {
			color: $mainGreen;
			transition: all 1.5s ease;
		}
        &::before{
            font-size: rem(15);
            transform: rotate(90deg);
            transition: transform 0.3s ease 0s;
            margin-left: rem(5);
        }
        &._spoller-active {
            &::before{
            transform: rotate(-90deg);
        }}
    }
    &__more-list {
        
    }
    &__more-wrapper{
        
    }
    &__shadow {
        z-index: 2;
			width: 100%;
			height: 100%;
			position: fixed;
            right: 0;
            top: 0;
            left: 0;
            bottom: 0;
			background-color: $mainDarkColor;
            opacity: 0.7;
	}
}

.opener {
    display: block;
}

._icon-arrow-right {
        display: flex;
}
.catalog-сlosed{
    display: none;    
}
.sub-catalog-сlosed{
    display: none;    
}
.menu-closed {
    display: none;
}
.catalog-сlosed__catalog {
    display: none;
}
.menu-burger {
    &__container {
    display: flex;
    align-items: center;
    column-gap: rem(30);
    justify-content: center;
    height: 100%;
    @media (max-width: $tablet){
        display: none;
    }
    }
    &__container{
        margin-right: rem(80);
        margin-left: rem(20);
    }
    }
.hamburger {
    &__text {
        color: white;
        background-color: transparent;
        border-radius: rem(3);
        border-radius: rem(10);
        background-color: #1eff00af;
        padding: rem(11.5) rem(25) rem(13.4) rem(30);
        padding-left: rem(50);
        align-items: center;
    }
}
.search-header {
    // max-width: rem(750);
    background-color: rgba(228, 21, 21, 0.03);
    border-radius: rem(10);
    position: relative;
    border: rem(1) solid rgba(4,4,4,0.5);
    gap: rem(20);
    &__button {
        position: absolute;
		background-color: transparent;
		height: rem(41);
		width: rem(41);
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: rem(8);
		font-size: rem(14);
		color: rgba(0, 0, 0, 0.5);
        @media (max-width: $mobileSmall) {
            color: black;
        }
    }
    &__input {
        outline:none;
        width: 100%;
		background-color: transparent;
		border-radius: rem(3);
		height: rem(41);
		color: $mainColor;
		padding: rem(0) rem(20) rem(0) rem(50);
		&::placeholder {
			color: rgba(0, 0, 0, 0.5);
        }
        @media (max-width: $mobileSmall) {
            background-color: white;
        }
    }
}
//
.actions-header {
    display: flex;
    align-items: center;
    column-gap: rem(30);
    justify-content: space-between;
    &__location {
        display: inline-block;
        align-items: center;
        font-weight: 600;
        line-height: math.div(10,5);
        @include adaptiv-font(15, 10);
        &::before {
            flex: 1 1 auto;
            text-align: center;
            font-size: rem(36);
        }
        &:hover{
            color: green;
            transition: 1s;
        }
    }
    &__favorite {
        display: inline-block;
        align-items: center;
        font-weight: 600;
        line-height: math.div(10,5);
        @include adaptiv-font(15, 10);
        &::before {
            flex: 1 1 auto;
            text-align: center;
            font-size: rem(36);
        }
        &:hover{
            color: green;
            transition: 1s;
        }
    }
    &__cart {
        flex: 1 1 auto;
    }
    &__user {
        display: inline-block;
        align-items: center;
        font-weight: 600;
        line-height: math.div(10,5);
        @include adaptiv-font(15, 10);
        @include adaptiveValue("margin-right", 0, 0, 1620, 1400, 1);
        &::before {
            flex: 1 1 auto;
            text-align: center;
            font-size: rem(36);
        }
        &:hover{
            color: green;
            transition: 1s;
        }
        
    }
    &__shop {
        display: inline-block;
        align-items: center;
        font-weight: 600;
        line-height: math.div(10,5);
        @include adaptiv-font(15, 10);
        @include adaptiveValue("margin-right", 0, 0, 1620, 1400, 1);
        &::before {
            flex: 1 1 auto;
            text-align: center;
            font-size: rem(36);
        }
        &:hover{
            color: green;
            transition: 1s;
        }
    }
    
    }
.catalog-header {
    display: block;
    transition: all 0.2s ease-out;
    // position: relative;
    background-color: $mainDarkColor;
    color: white;
    padding: rem(10);
    &__container {
    }
    &__menu {
    }
}
._menu-none{
    transition: all 0.2s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: rem(0);
}
//
//
.hover {
    display: block;
}
.menu {
	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			width: 100%;
            overflow-x: hidden;
			height: 100%;
			top: 0;
			left: -100%;
			overflow: hidden;
			background-color: $mainDarkColor;
			padding: rem(100) rem(15) rem(50) rem(15);
			transition: left 0.2s ease 0s;
			z-index: 4;
            overflow-y: none;
            overflow-x: none;
			&::before {
				content: "";
				width: 100%;
				height: rem(70);
				left: -100%;
				top: 0;
				background-color: $mainDarkColor;
                
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
                }
            }
            
		}
	}
	@media (max-width: $tablet) {
		//flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
        z-index: 10;
        margin-right: rem(20);
        @media (max-width: $mobileSmall) {
            margin-right: rem(20);
        }
	}
}

@media (max-width: $mobileSmall) {
    .actions-header{
        display: none;
    }
}

@media (max-width: $tablet) {
.menu-catalog{
    //display: none;
}
}
.fix{
    position: fixed;
    text-align: right;
    right: rem(22);
    top: rem(20);
}

