.product {
    &__info {
        @include adaptiveValue("margin-bottom", 120, 40);
    }
}
    .main-product {
        display: grid;
        align-items: start;
        @media (max-width: $tablet) {
            display: block;
        }
    &__images {
        @include adaptiveValue("margin-bottom", 100, 40);
        @media (min-width: $tablet) {
            padding: 0px rem(30) 0px 0px;
        }
    }
    @media (min-width: $tablet) {
        grid-template-columns: percent(785, 1600) 1fr;
    }
    &__body {
    }
    }
    .images-product {
    &__slider {
    }
    &__swipers {
    }
    &__slide-ibg {
        padding-bottom: percent(557, 754);
    }
    &__thumbs {
        margin-top: rem(15);
    }
    &__arrow {
        width: rem(50);
        height: rem(50);
        border: rem(1) solid darkslateblue;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: rem(10);
        background-color: #fefefe;
        opacity: 0.7;
    @media (max-width: $tablet) {
        display: none;
    }
    }
    }
    .thumbs-images {
    &__swipers {
    }
    &__slide-ibg {
		cursor: pointer;
		opacity: 0.5;
		transition: all 0.3s ease 0s;
		padding-bottom: percent(177, 754);
		&.swiper-slide-thumb-active {
			opacity: 1;
		}
	}
    }
        .body-product {
            background: #fefefe;
            box-shadow: 0px rem(4) rem(20) rgba(0, 0, 0, 0.3);
            @include adaptiveValue("padding", 30, 15);
        &__header {
            border-bottom: rem(1) solid rgba(20, 20, 20, 0.15);
            padding: rem(30) 0px;
        }
        &__table {
            border-bottom: rem(1) solid rgba(20, 20, 20, 0.15);
            padding: rem(30) 0px;
        }
        &__options {
            border-bottom: rem(1) solid rgba(20, 20, 20, 0.15);
            padding: rem(30) 0px;
        }
        &__actions {
            padding: rem(30) 0px;
        }
        
        }
        .header-product {
        &__line {
            display: flex;
            column-gap: rem(30);
            row-gap: rem(15);
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
            @media(max-width: $mobile) {
                flex-wrap: wrap;
            }
        }
        &__title {
            font-size: rem(25);
            font-weight: 700;
            line-height: math.div(29, 24);
            flex: 1 1 auto;
            gap: rem(30);
        }
        &__link {
            font-size: rem(24);
        }
        &__rating {
        }
        }
        .rating {
        &__body {
        }
        &__active {
        }
        &__items {
        }
        &__item {
        }
        &__value {
        }
        }
        .rating_set {
        }
        .table-product {
            display: grid;
            
            gap: rem(20);
        &__label {
        }
        &__value {
            color: gray;
        }
        @media(min-width: $mobile) {
            grid-template-columns: rem(200) 1fr;
        }
        }
        .options-product {
            display: grid;
            @media(min-width: $mobile) {
                grid-template-columns: rem(200) 1fr;
            }
            gap: rem(20);
        &__label {
            align-items: center;
            display: flex;  
        }
        &__value {
        }
        
        }
        .form {
        }
.actions-product {
        &__price {
            font-size: rem(30);
            font-weight: 700;
            display: inline-block;
            line-height: math.div(37, 30);
            background: url("@img/iconsfont/ruble.svg") right no-repeat;
            padding: 0px rem(30) 0px 0px;
            &:not(:last-child) {
                margin-bottom: em(35,30);
            }
        }
        &__row {
            display: flex;
            gap: rem(20);
            @media (max-width: em(1520)) {
                flex-direction: column;
            }
        }
        &__quantity {
        }
        &__buttons {
            flex: 1 1 auto;
            display: flex;
            gap: rem(10);
            @media (max-width: $tablet) {
                display: flex;
                
                flex-wrap: wrap;
                gap: rem(20)
            }
        }
        &__cart {
            span{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            &::before {
                margin-left: rem(5);
            }
            }
            @media (max-width: $mobileSmall) {
                width: 100%;
            }
        }
        &__button {
            @media (max-width: $mobileSmall) {
                width: 100%;
            }
        }
}
.product-info {
        background: #fefefe;
        box-shadow: 0px rem(4) rem(20) rgba(0, 0, 0, 0.3);
        padding: rem(30);
        min-width: 200%;
    &__navigation {
        display: flex;
        justify-content: flex-start;
        @include adaptiveValue("gap", 60, 30);
        border-bottom: rem(1) solid gray;
        }
    &__title {
        font-size: rem(20);
        padding: rem(15) 0;
        line-height: math.div(25,20);
        color: gray;
        position: relative;
        ._tab-spoller & {
        width: 100%;
        }
        &._tab-active {
            color: black;
            &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: rem(2);
            bottom: -1px;
            left: 0;
            background-color: $mainGreen;
                }
            }
        }
    &__content {
        padding: rem(30) 0;
    }
    &__body {
        text-align: center;
    }
}
